@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

nav {
  text-align: center;
}

#main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20vh;
}

.site-title {
  font-weight: 300;
  margin: 10vh 0 5vh 0;
}

.bold-text {
  font-weight: 900;
}

.site-text {
  text-align: center;
}

.email-input {
  margin: 5vh 0 10vh 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.emailz {
  padding: 1rem 5rem;
  border-radius: 5rem;
  border: 1px solid;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
